# Data Cleaning and Transformation

In [1]:
import pandas as pd
import numpy as np

## Load data into Dataframe and Return Shape

In [2]:
data = pd.read_csv("diabetic_data.csv")

data.shape #(101766, 50)

(101766, 50)

## Replace ? values with  numpy.nan

In [3]:
filtered_data = data.replace('?', np.nan)
filtered_data

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),NaN,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),NaN,1,3,7,3,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,[80-90),NaN,1,4,5,5,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),NaN,1,1,7,1,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),NaN,2,3,7,10,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),NaN,1,1,7,6,...,No,No,No,No,No,No,No,No,No,NO

In [4]:
#Investigate rows with any missing values
print("Any Null values?: ", filtered_data.isnull().values.any())
print("Count of Rows with any Null Values: ", sum([True for idx,row in filtered_data.iterrows() if any(row.isnull())]),"missing out of", data.shape[0])
#100723 out of 101766

Any Null values?:  True
Count of Rows with any Null Values:  101766 missing out of 101766

In [5]:
print(filtered_data.columns[filtered_data.isnull().mean() > 0.5]) 
## investigation shows that weight column is the only one dropped.

Index(['weight', 'max_glu_serum', 'A1Cresult'], dtype='object')

## Drop all columns that have more than 50% of missing values.

In [6]:

# filtered_data = filtered_data[filtered_data.columns[filtered_data.isnull().mean() < 0.5]]

## Alternatively use dropna to remove columns with null values over 50%.
min_count =  int(((100-50)/100)*filtered_data.shape[0] + 1)
filtered_data.dropna(axis='columns', thresh=min_count,inplace=True)

filtered_data

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,NaN,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,NaN,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),1,3,7,3,MC,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,[80-90),1,4,5,5,MC,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),1,1,7,1,MC,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),2,3,7,10,MC,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),1,1,7,6,NaN,...,No,No,No,No,No,No,No,No,No,NO

## drop columns for which over 95% of their values are the same

In [31]:


#take most common occurring unique value. if that occurs 95% of the time, drop.
nunique = filtered_data.nunique() # number of unique data points
thresh = int(101766 *0.95)

filtered_data_copy = filtered_data
for column in filtered_data_copy:
    column_mode = filtered_data_copy[column].mode()
    column_count = filtered_data_copy[column].value_counts().max()
    print(column_mode.head(1))
    print("Count: ", column_count, "\n")
    if column_count >= thresh:
        # print("***************************COLUMN SHOULD BE DROPPED*************************** \n")
        # drop column
        filtered_data_copy.drop(column, axis=1, inplace=True)

filtered_data_copy.shape

0    12522
Name: encounter_id, dtype: int64
Count:  1

0    88785891
Name: patient_nbr, dtype: int64
Count:  40

0    Caucasian
Name: race, dtype: object
Count:  76099

0    Female
Name: gender, dtype: object
Count:  54708

0    [70-80)
Name: age, dtype: object
Count:  26068

0    1
Name: admission_type_id, dtype: int64
Count:  53990

0    1
Name: discharge_disposition_id, dtype: int64
Count:  60234

0    7
Name: admission_source_id, dtype: int64
Count:  57494

0    3
Name: time_in_hospital, dtype: int64
Count:  17756

0    MC
Name: payer_code, dtype: object
Count:  32439

0    InternalMedicine
Name: medical_specialty, dtype: object
Count:  14635

0    1
Name: num_lab_procedures, dtype: int64
Count:  3208

0    0
Name: num_procedures, dtype: int64
Count:  46652

0    13
Name: num_medications, dtype: int64
Count:  6086

0    0
Name: number_outpatient, dtype: int64
Count:  85027

0    0
Name: number_emergency, dtype: int64
Count:  90383

0    0
Name: number_inpatient, dtype: int64
Count:  67630

0    428
Name: diag_1, dtype: object
Count:  6862

0    276
Name: diag_2, dtype: object
Count:  6752

0    250
Name: diag_3, dtype: object
Count:  11555

0    9
Name: number_diagnoses, dtype: int64
Count:  49474

0    No
Name: metformin, dtype: object
Count:  81778

0    No
Name: glimepiride, dtype: object
Count:  96575

0    No
Name: glipizide, dtype: object
Count:  89080

0    No
Name: glyburide, dtype: object
Count:  91116

0    No
Name: pioglitazone, dtype: object
Count:  94438

0    No
Name: rosiglitazone, dtype: object
Count:  95401

0    No
Name: insulin, dtype: object
Count:  47383

0    No
Name: change, dtype: object
Count:  54755

0    Yes
Name: diabetesMed, dtype: object
Count:  78363

0    NO
Name: readmitted, dtype: object
Count:  54864

(101766, 31)

In [32]:
filtered_data_copy

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,metformin,glimepiride,glipizide,glyburide,pioglitazone,rosiglitazone,insulin,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,NaN,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,NaN,...,No,No,No,No,No,No,Up,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,NaN,...,No,No,Steady,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,NaN,...,No,No,No,No,No,No,Up,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,NaN,...,No,No,Steady,No,No,No,Steady,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),1,3,7,3,MC,...,Steady,No,No,No,No,No,Down,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,[80-90),1,4,5,5,MC,...,No,No,No,No,No,No,Steady,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),1,1,7,1,MC,...,Steady,No,No,No,No,No,Down,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),2,3,7,10,MC,...,No,No,Steady,No,Steady,No,Up,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),1,1,7,6,NaN,...,No,No,No,No,No,No,No,No,No,NO

## Transform age to middle value

In [ ]:
filtered_data.dtypes 
#age column is an object
#1: remove brackets?
#2: read each row value and take middle point
#2.1: regex in the form of int_String_int?
#2.2: convert to int type?